@import url('https://fonts.googleapis.com/css?family=Poppins:300');
html,
body {
    font-family: 'Poppins';
    font-weight: 300;
    background-color: #434343;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    padding: 0.313rem 0;
    color: #f2f2f2;
}

header h1 {
    text-align: center;
    font-size: 1.875rem;
}

#leftPanel {
    color: #fefefe;
}

header h1,
#leftPanel h3 {
    margin: 0;
    padding: 0 1rem;
    line-height: 3.563rem;
}

#leftPanel p {
    padding: 0 1rem;
    line-height: 1rem;
}

#leftPanel p small {
    font-size: 60%;
}

#instructionsForm {
    display: flex;
}

input {
    font-weight: 400;
    font-size: 1.2rem;
    color: #222;
    border: 0 none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

button {
    border: 0 none;
    font-weight: 700;
    color: #fff;
    background-color: #555;
}

.radio {
    margin-left: 1rem;
}

input[type=radio] {
    margin-right: 0.5rem;
    display: inline-block;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}

#matrix {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 5px 0px;
    position: relative;
    background-color: rgba(255, 255, 255, .4);
    border-right: 1px solid #999;
    border-left: 1px solid #999;
}

#matrix div {
    flex-grow: 0;
    order: 10;
    text-align: center;
    display: table;
    vertical-align: middle;
    border: 1px solid;
}

#matrix div {
    position: relative;
}

#matrix div div.rover {
    position: absolute;
    border: 0px solid;
    border-radius: 100%;
    font-size: .86rem;
    line-height: .86rem;
    display: block;
}

#matrix div div.rover span {
    font-size: .86rem;
    line-height: 1.563rem;
    position: relative;
}

#matrix div div.rover.error {
    animation: colorchange 1s linear;
    -webkit-animation: colorchange 1s linear;
}

#matrix div div.rover.error span.w::before,
#matrix div div.rover.error span.s::before,
#matrix div div.rover.error span.n::before,
#matrix div div.rover.error span.e::before {
    content: "\002716";
    color: #F30;
    z-index: 2;
}

@keyframes colorchange {
    0% {
        background: #F30;
    }
    50% {
        background: #222;
    }
    100% {
        background: #F30;
    }
}

@-webkit-keyframes colorchange {
    0% {
        background: #F30;
    }
    50% {
        background: #222;
    }
    100% {
        background: #F30;
    }
}

#matrix div div.rover span.w::before,
#matrix div div.rover span.s::before,
#matrix div div.rover span.n::before,
#matrix div div.rover span.e::before {
    z-index: 2;
    position: absolute;
}

#matrix div div.rover span.w::before {
    content: "\002190";
    left: -23px;
    top: 0px;
}

#matrix div div.rover span.s::before {
    content: "\002193";
    left: 0px;
    bottom: -23px;
}

#matrix div div.rover span.n::before {
    content: "\002191";
    left: 0px;
    top: -23px;
}

#matrix div div.rover span.e::before {
    content: "\002192";
    right: -23px;
    top: -2px;
}

#matrix div h4 {
    font-size: .64rem;
    text-align: left;
    padding: 0;
    margin: 0;
}